header {
  height: 80px; }

.img_logo {
  margin-top: 2px;
  margin-left: 30%;
  margin-bottom: 30px;
  margin-right: 0;
  cursor: pointer; }

.image_logo {
  border-right: 1px solid darkgrey;
  height: 30px;
  margin-top: 30px;
  margin-left: 50%;
  margin-bottom: 30px;
  margin-right: 0; }

.list_menu {
  height: auto;
  color: darkgrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px; }
  .list_menu ul {
    border-radius: 5px;
    margin-top: 13px;
    position: absolute;
    list-style: none; }

.active {
  color: darkgrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: auto;
  margin-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 20px;
  text-align: left;
  display: inline-block; }

.product {
  width: 280px;
  height: 300px;
  cursor: pointer; }
  .product a {
    text-decoration-line: none; }
    .product a img {
      width: 230px;
      height: 250px;
      margin-top: 20px;
      margin-left: 30px;
      margin-bottom: 0;
      margin-right: 0; }

.center {
  width: 90%;
  height: auto;
  margin-top: 100px;
  margin-left: 12%;
  margin-bottom: 0;
  margin-right: 0; }

.product_frame {
  width: 280px;
  height: auto;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-right: 30px;
  border: 2px solid #cecccc; }

.product_frame:hover {
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2); }

.product_information {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
  width: 275px;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f7f7f7; }

footer {
  height: auto;
  background-color: #f1f1f1;
  border-bottom: 1px solid darkgrey; }

.footer_item {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 5px;
  margin-right: 10px;
  display: inline-block;
  text-align: left; }
  .footer_item ul {
    list-style: none; }

hr {
  width: 30%;
  border-top: 1px solid white;
  margin-top: 3px;
  margin-left: 0;
  margin-bottom: 3px;
  margin-right: 0; }

.end {
  text-align: center;
  font-size: 11px;
  color: darkgrey;
  padding-bottom: 6px;
  padding-top: 0px; }
