@mixin width_height($width, $height) {
    width: $width;
    height: $height;
}
@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-left: $left;
    margin-bottom: $bottom;
    margin-right: $right;
}
.product{
    @include width_height(280px, 280px);
    cursor: pointer;
    a{
        text-decoration-line: none;
        img{
            @include width_height(230px, 230px);
            @include margin(20px, 0, 0, 30px);
        }
    }
}
.center{
    @include width_height(90%, auto);
    @include margin(100px, 0, 0, 12%);
}
.product_frame{
    @include width_height(280px, auto);
    cursor: pointer;
    display: inline-block;
    @include margin(15px, 30px, 15px, 30px);
    border: 2px solid rgb(206, 204, 204);
}
.product_frame:hover{
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
}
.product_information{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    @include width_height(275px, 80px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(247, 247, 247);
}
