@mixin colorVsFont($color, $fontsize) {
    color: $color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $fontsize;
}
@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-left: $left;
    margin-bottom: $bottom;
    margin-right: $right;
}
header{
    height: 60px;
}
.img_logo{
    @include margin(2px, 0, 30px, 30%);
    cursor: pointer;
}
.image_logo{
    border-right:1px solid darkgrey;
    height: 30px;
    @include margin(30px, 0, 30px, 50%);
}
.list_menu{
    height: auto;
    @include colorVsFont(darkgrey, 20px);
    display: inline-block;
    text-align: center;
    line-height: 20px;
    
    ul{
        border-radius: 5px;
        position: absolute;
        list-style: none;
        display: none;
    
        li:hover{
            display: block;
        }
    }
}