<div class="row">
    <div class="col-md-4">
        <div class="footer_item">
            <p>Our Store</p>
            <ul>
                <li>100 Fairview Drive</li>
                <li>Flanklin, VA 23851</li>
                <li>(231)784-2411</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="footer_item">
            <p>Our Store</p>
            <ul>
                <li>100 Fairview Drive</li>
                <li>Flanklin, VA 23851</li>
                <li>(231)784-2411</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="footer_item">
            <p>Our Stores</p>
            <ul>
                <li>100 Fairview Drive</li>
                <li>Flanklin, VA 23851</li>
                <li>(231)784-2411</li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="end">
    <strong>
        ALaxSnkr.vn
        <br> © 1999-2019-All Right Reserved.Designed by teamAlax
    </strong>
</div>