<div class="row">
    <div class="col-md-4">
        <div class="image_logo"><img src="images/logo.png" class="img_logo"></div>
    </div>
    <div class="col-md-8">
        <div class="list_menu">
        <ul>
            <li class="active">Men</li>
            <li class="active">Women</li>
            <li class="active">About</li>
            <li class="active">Blog</li>
            <li class="active">Support</li>
        </ul>
        </div>
    </div>    
</div>