<!DOCTYPE html>
<html>
<head>
    <title>Web Internship</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
    <!--header-->
    <header>
        {{#> head-block}}
            {{> hbs/header }}
        {{/head-block}}
    </header>

    <!--body-->
    <nav>
        {{#> hero-block}}
        {{!-- Hero content goes here. --}}
            {{> hbs/body }}
        {{/hero-block}}
    </nav>
    <!--footer-->
    <footer>
        {{#> footer-block}}
        {{!--
            The `hbs/footer` partial is the default content,
            but can be overridden.
        --}}
            {{> hbs/footer }}
        {{/footer-block}}
    </footer>
    <!-- <script src='main.js'></script>     -->
</body>
</html>