<!DOCTYPE html>
<html>
<head>
    <title>Web Internship</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
    <!--header-->
    <header>
        <div class="row">
            <div class="col-md-4">
                <div class="image_logo"><img src="images/logo.png" class="img_logo"></div>
            </div>
            <div class="col-md-8">
                <div class="list_menu">
                <ul>
                    {{#each menu}}
                        <li class="active">{{this}}</li>
                    {{/each }}
                </ul>
                </div>
            </div>    
        </div>
    </header>

    <!--body-->
    <nav>
        <div class="center">
            {{#each products}}
            <div class="product_frame">
                <div class="product">
                    <a href=""><img src="images/{{image}}"></a>
                </div>
                <div class="product_information">
                    <h5>{{name}}</h5>
                    <strong>{{price}}</strong>
                </div>
            </div>    
            {{/each}}
            
        </div>
    </nav>
    <!--footer-->
    <footer>
        {{#> footer-block}}
        {{!--
            The `includes/footer` partial is the default content,
            but can be overridden.
        --}}
            {{> hbs/footer }}
        {{/footer-block}}
    </footer>
    <!-- <script src='main.js'></script>     -->
</body>
</html>